<p>遊びに来ていただきありがとうございます!</p>

<p>こちらのアプリはスマホで閲覧したときに</p>
<P>新規登録画面に遷移したときに下記の画面が出ますが</P>
<%= image_tag 'image1.png', size: '300x580' %>
<p>右上のリロードを１回だけ押していただくと</p>
<%= image_tag 'image0.png', size: '300x580' %>
<P>ご覧の通り新規登録画面が現れますのでこれでサインアップができます！</P>
<P>私自身も嫁もアプリが問題なく使えるか確認をしました。</P>
<p>問題なく使えましたので、是非投稿をお願いいたします。</p>

